
body{
    background-color: black;
}

#main-body{
    background-color: rgb(29, 32, 36);
}
#head{
    color:silver;
    background-image: url("https://cdn.pixabay.com/photo/2014/06/16/23/39/black-370118_960_720.png");
}
    #about{
        color: white;
    }

a{
    border-bottom: 1px solid silver;
}

  


nav, ul{
    display:flex;
    justify-content: space-between;
    min-width:300px;
    text-align: right;
    font-size: 20px;
  }
   
  li {
    font-size: 18px; 
    text-decoration:none;
    display: inline;
    padding: 10px;


  
     }


     
ul {
    display: inline;
    margin: 0;
    padding: 0;
  }
  ul li {display: inline-block;}
  ul li:hover {background: #555;}
  ul li:hover ul {display: block;}
  ul li ul {
    position: absolute;
    width: 200px;
    display: none;
  }
  ul li ul li { 
    background: #555; 
    display: block; 
  }
  ul li ul li a {display:block;} 
  ul li ul li:hover {background: #666;}


#work, #contact{

    text-decoration: underline;
    margin-left: 20px;
}

     
     #work-sec, #about{
         background-color:rgb(107, 122, 136);
         font-family: Verdana, Geneva, Tahoma, sans-serif;
     }
     .thumbnail:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;



     }
     a{
         color:black;

     }
#footer{
 
    text-align: center;
  margin-left: auto;
  margin-right: auto;
    height: 200px;
 
}
