
:root {

    --dark: rgb(3, 21, 24);
 

  }
  body {
    background-color: black;
    background-image: url("https://cdn.pixabay.com/photo/2014/06/16/23/39/black-370118_960_720.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  header{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:1%;

    text-align: right;
    max-width: 100%;

        
    background-color: rgba(41, 41, 40, 0.7) ;

  

  }
  nav, ul{
    display:flex;
    justify-content: space-between;
    min-width:300px;
    text-align: right;
    font-size: 20px;
  }
   
  li {
    text-decoration:none;
    display: inline;
    padding: 10px;
  
     }
   
   #title {
    font-size: 300px;
    text-decoration: wavy;
    text-align: center;
margin-top: 100px;
    animation: neon .08s ease-in-out infinite alternate;
    font-family: "Paytone One";
    color: #202020;
    text-transform: uppercase;
    letter-spacing: -2px;
    height:400px;
    
   }
  #title span {
  display: block;
  margin: 11px 0 17px 0;
  font-size: 80px;
  line-height: 80px;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  letter-spacing: -4px;

  }
#divide{
  border-bottom:2px solid silver ;
  width: 50%;
margin-left: auto;
margin-right: auto;
}
  .name{
  
    color:rgb(119, 114, 101);
    font-size: 30px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    background-image: url("https://cdn.pixabay.com/photo/2014/06/16/23/39/black-370118_960_720.png");
    border: none;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 1s ease;
  }



